{% extends "base.html.twig" %}

{% block title %}
    <title>Comparte Tu Coche - Bienvenido a la plataforma de compartir coche</title>
{% endblock %}

{% block contenido %}
    {% block buscador %}
        {% include "index/buscador.html.twig" %}
    {% endblock %}
    
    {% block informacion %}
        {% include "index/informacion.html.twig" %}
    {% endblock %}
    
    {% block recuento %}
        {% include "index/recuento.html.twig" %}
    {% endblock %}
    
    {% block llama %}
        {% include "index/llama.html.twig" %}
    {% endblock %}
{% endblock %}